@import "tailwindcss";

@theme{
    --color-indigo-950: oklch(32.05% 0.0413 246.65);
}

@layer {
    h1, h2, h3, h4, h5, h6 {
        color: var(--color-gray-950)
    }

    p{
        color: var(--color-indigo-950)
    }
}